{layout '../@layout.latte'}

{var $headline = 'Nette Demo - Patrik Kristian'}
{block content}
<p class="flow-text">
    Demo aplikace spíchnuté pro demonstraci mých schopností jako webového vývojáře.
</p>
<p class="flow-text">
    Přejít na <a n:href="Brand:">grid značek</a>.
</p>

<h5>Frontendové featury:</h5>
<ul class="browser-default">
    <li>
        Použité technologie:
        <ul class="browser-default">
            <li>materializecss přes cdn</li>
            <li>jQuery přes cdn</li>
        </ul>
    </li>
    <li>
        Grid značek:
        <ul class="browser-default">
            <li>zobrazení názvů značek</li>
            <li>stránkování (při více stránkách se zobrazí jen některé indexy)</li>
            <li>změna počtu položek na stránku (resetuje na stranu 1)</li>
            <li>změna řezení položek (resetuje na stranu 1)</li>
        </ul>
    </li>
    <li>
        Editace značek:
        <ul class="browser-default">
            <li>mazání značky s popup potvrzením</li>
            <li>změna názvu značky v popupu</li>
            <li>přidání nové značky v popupu</li>
        </ul>
    </li>
    <li>
        Kontrola názvu značek:
        <ul class="browser-default">
            <li>musí být unikátní (case sensitive)</li>
            <li>nesmí obsahovat <strong>&lt;</strong> nebo <strong>&gt;</strong></li>
            <li>délka v rozsahu 1 až 255 znaků</li>
        </ul>
    </li>
</ul>

<h5>Backendová architektura:</h5>
<ul class="browser-default">
    <li>
        Použité technologie:
        <ul class="browser-default">
            <li>PHP</li>
            <li>Composer</li>
            <li>Nette</li>
            <li>Dibi</li>
            <li>MySQL</li>
            <li>Docker</li>
            <li>PHPStan</li>
            <li>Gitlab CI</li>
        </ul>
    </li>
    <li>
        Jádro:
        <ul class="browser-default">
            <li>Nette jádro</li>
            <li>latte šablony</li>
            <li>vše v Dockeru</li>
        </ul>
    </li>
    <li>
        ModelFactory:
        <ul class="browser-default">
            <li>Sdružuje všechny modely</li>
            <li>má přístup ke konfiguraci, databázím</li>
            <li>je injektován v presenterech</li>
            <li>ve výjimečných případech dostupný i staticky jako singleton</li>
            <li>přidánání nových modelů anotacema</li>
            <li>řídí spojení Datasetů s Modelama</li>
        </ul>
    </li>
    <li>
        Datasety:
        <ul class="browser-default">
            <li>Objekty které reprezentují řádek v databázi</li>
            <li>Mají přirazený svůj model se kterým úzce spolupracují</li>
            <li>pro čtení lze použít pohled, pro zápis samotnou tabulku</li>
        </ul>
    </li>
    <li>
        Typy:
        <ul class="browser-default">
            <li>Vlastní datové typy, většinou stringy které podléhají přísnější validaci.</li>
        </ul>
    </li>
    <li>
        Databáze:
        <ul class="browser-default">
            <li>MySQL</li>
            <li> modelová vrstva byla postavena pro PostgreSQL, ale na MySQL po malých úpravách funguje.</li>
            <li>v demu je pouze tabulka <b>brand (id, name)</b>, k její reinicializaci prosím použijte:
                <a n:href="resetbrands!">resetovat značky</a></li>
        </ul>
    </li>
</ul>

<h5>Odkazy:</h5>
<ul class="browser-default">
    <li><a href="https://nette-demo.pkristian.cz/" target="_blank">online demo (tato stránka)</a></li>
    <li><a href="https://gitlab.com/pkristian/nette-demo" target="_blank">repositář</a></li>
    <li><a href="https://www.linkedin.com/in/patrik-kristian-b2b040299/" target="_blank">linkedin</a></li>
    <li><a href="https://pkristian.cz/" target="_blank">osobní stránky</a></li>
</ul>

