<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{if $headline}{$headline} | {/if}{$title}</title>

    <meta name="viewport" content="width=device-width"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
<nav class="blue" role="navigation">
    <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
            <li><a n:href="Homepage:">Homepage</a></li>
            <li><a n:href="Brand:">Značky</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    </nav>
    {if $headline}
        <h1>{$headline}</h1>
    {/if}
    {block content}

    {/block}
</div>


<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<script n:foreach="$flashes as $flash" n:if="$flash->message">
    $(document).ready(function () {
        M.toast({
            html: {$flash->message},
            classes: {$flash->type}
        })
    });
</script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>

</body>
</html>
