<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404</title>
    <style>
        html {
            padding: 30px 10px;
            color: #2196F3;
            background: #f0f0f0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        body {
            padding: 30px 20px 50px;
        }

        h1 {
            margin: 0 10px;
            font-size: 15rem;
            text-align: center;
        }


    </style>
</head>
<body>
<h1>404</h1>
</body>
</html>