{layout '../@layout.latte'}

{var $headline = 'Značky'}
{block content}
{varType int $count}
{varType int $perPage}
{varType int $maxPage}
{varType int $page}
{varType App\Model\Dataset\BrandDataset[] $tableData}
{varType bool $asc}



{* add *}
<a href="#modal-add" class="btn modal-trigger green">Přidat značku</a>
{* modal *}
<form method="GET">
    <input type="hidden" name="do" value="updateBrand">
    <input type="hidden" name="page" value="{$page}">
    <input type="hidden" name="perPage" value="{$perPage}">
    <input type="hidden" name="$asc" value="{$asc}">

    <div id="modal-add" class="modal">
        <div class="modal-content">
            <h4>Přidat novou značku</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input name="brandName" value="" id="brand-add" type="text" class="validate">
                    <label class="active" for="brand-add">Název nové značky</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect btn green">Přidat značku</button>
        </div>
    </div>
</form>


{* table *}
<table>
    <thead>
    <tr>
        <th>
            {if $asc}
                <a n:href=":default, asc: 0, page: 1">
                    Název
                    <i class="tiny material-icons">arrow_upward</i>
                </a>
            {else}
                <a n:href=":default, asc: 1, page: 1">
                    Název
                    <i class="tiny material-icons">arrow_downward</i>
                </a>
            {/if}
        </th>
        <th style="width: 25% ">Akce</th>
    </tr>
    </thead>

    <tbody>
    <tr n:foreach="$tableData as $dataset">
        <td>
            {$dataset->getName()}
        </td>
        <td>
            {* delete *}
            <a href="#modal-delete-{$dataset->getId()}" class="btn modal-trigger red">Smazat</a>
            {* modal *}
            <div id="modal-delete-{$dataset->getId()}" class="modal">
                    <div class="modal-content">
                        <h4>Opravdu smazat značku {$dataset->getName()}?</h4>
                    </div>
                    <div class="modal-footer">
                        <a n:href="deleteBrand! $dataset->getId()" class="modal-close waves-effect btn red">Ano Smazat</a>
                    </div>
            </div>

            {* edit *}
            <a href="#modal-edit-{$dataset->getId()}" class="btn modal-trigger blue">Editovat</a>
            {* modal *}
            <form method="GET">
                <input type="hidden" name="do" value="updateBrand">
                <input type="hidden" name="brandId" value="{$dataset->getId()}">
                <input type="hidden" name="page" value="{$page}">
                <input type="hidden" name="perPage" value="{$perPage}">
                <input type="hidden" name="$asc" value="{$asc}">

                <div id="modal-edit-{$dataset->getId()}" class="modal">
                    <div class="modal-content">
                        <h4>Změna názvu značky {$dataset->getName()}</h4>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="brandName" value="{$dataset->getName()}" id="brand-name-{$dataset->getId()}" type="text" class="validate">
                                <label class="active" for="brand-name-{$dataset->getId()}">Nový název značky</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-close waves-effect btn blue">Změnit název</button>
                    </div>
                </div>
            </form>


        </td>
    </tr>
    </tbody>
</table>


{*pagination*}
<div class="row">
    <div class="col s2">
        <ul class="pagination">
            <li class="disabled">
                <a>Celkem: {$count}</a>
            </li>
        </ul>
    </div>
    <div class="col s8 center-align">
        <ul class="pagination">
            <li class="{if $page == 1}disabled{else}waves-effect{/if}">
                <a n:href=":default, page: max($page-1,1)"><i class="material-icons">chevron_left</i></a>
            </li>
            {for $i = 1; $i <= $maxPage; $i++}
                {var $showPage =
                ($maxPage < 20)
                ||
                !($i % 10)
                ||
                (in_array($i,[1,$page,$maxPage]))
                ||
                (abs($i - $page) <= 3 )
                }
                {if $showPage}
                    <li class="{if $i == $page}active blue{else}waves-effect{/if}">
                        <a n:href=":default, page: $i">{$i}</a>
                    </li>
                {/if}
            {/for}
            <li class="{if $page == $maxPage}disabled{else}waves-effect{/if}">
                <a n:href=":default, page: min($page+1,$maxPage)"><i class="material-icons">chevron_right</i></a>
            </li>
        </ul>
    </div>
    <div class="col s2 right-align">
        <ul class="pagination">
            {foreach [10,25,50] as $option}
                <li class="{if $option == $perPage}active blue{else}waves-effect{/if}">
                    <a n:href=":default, perPage: $option, page: 1">{$option}</a>
                </li>
            {/foreach}
        </ul>
    </div>


</div>




